<div class="container">
    <section id="about_me">
        <h1>About Me</h1>
        <p>Hola, soy Edison, ingeniero de redes interesado en el desarrollo de software mas concretamente en el desarrollo de Android.  Durante el tiempo que he ido aprendiendo los distintos ámbitos del desarrollo de software, el desarrollo de aplicaciones Android me fascino y me empujó a aprender sobre su ecosistema y su filosofía de desarrollo no obstante me gusta seguir aprendiendo “Knowledge does not take place” junto al desarrollo Android, la virtualización y los servicios server-less es lo que más me gusta investigar. Me gusta plasmar los conocimientos obtenidos de la investigación de las distintas tecnologías en mini proyectos, dichos proyectos se pueden encontrar en mi GitHub y también en proyectos más grandes y personales(Este proyecto aún esta en desarrollo =)).</p>
        <img src="assets/images/about_me.jpeg"/>
        <hr>
    </section>
</div>
