<div class="container">
    <section id="contact" >
        <h1>Contact</h1>
        <div class="socials">
            <ul>
              <li><a href="mailto:edy17496@gmail.com"><span class="ico-circle"><i class="fas fa-envelope"></i></span></a></li>
              <li><a href="https://github.com/EdiiDD" target="_blank"><span class="ico-circle"><i class="fab fa-github"></i></span></a></li>
              <li><a href="https://www.linkedin.com/in/edison-omar-loza-guzm%C3%A1n-3a6001143/" target="_blank"><span class="ico-circle"><i class="fab fa-linkedin"></i></span></a></li>
              <li><a href="https://t.me/Ediid95" target="_blank"><span class="ico-circle"><i class="fab fa-telegram"></i></span></a></li>
              <li><a href="https://drive.google.com/file/d/1lthHZ1lq0t0AIEcBFPaCnGR_gWI9mtOI/view?usp=sharing" target="_blank"><span class="ico-circle"><i class="fas fa-address-card"></i></span></a></li>
            </ul>
        </div>
    </section>
</div>
