<div class="container">
    <section id="skills" class="home-section">
        <h1>Skills</h1>
        
        <div class="list">
            <h2>Lenguages</h2>
            <div class="row fa-ul mb-0">
                <div class="col-md-3"><i class="material-icons">check_circle</i>Java</div>
                <div class="col-md-3"><i class="material-icons">check_circle</i>Kotlin</div>
                <div class="col-md-3"><i class="material-icons">check_circle</i>Python</div>
                <div class="col-md-3"><i class="material-icons">check_circle</i>Bash</div>
                <div class="col-md-3"><i class="material-icons">check_circle</i>SQL/NoSQL</div>
                <div class="col-md-3"><i class="material-icons">check_circle</i>JavaScript</div>
                <div class="col-md-3"><i class="material-icons">check_circle</i>HTML</div>
                <div class="col-md-3"><i class="material-icons">check_circle</i>CSS</div>
              </div>
        </div>
        
        <div class="list">
            <h2>Technologies & Tools</h2>
            <div class="row fa-ul mb-0">
                <div class="col-md-3"><i class="material-icons">check_circle</i>Firebase</div>
                <div class="col-md-3"><i class="material-icons">check_circle</i>AWS</div>
                <div class="col-md-3"><i class="material-icons">check_circle</i>Git</div>
                <div class="col-md-3"><i class="material-icons">check_circle</i>LaTex</div>
                <div class="col-md-3"><i class="material-icons">check_circle</i>Docker</div>
                <div class="col-md-3"><i class="material-icons">check_circle</i>Jira</div>
                <div class="col-md-3"><i class="material-icons">check_circle</i>Fenix</div>
                <div class="col-md-3"><i class="material-icons">check_circle</i>MySql</div>
            </div>
        </div>
    </section>
    <hr>
</div>
